<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:51:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGRunner.driverClose()[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>main@682376643</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:51:31</td>   <td>18866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGRunner.driverClose()[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>main@682376643</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:51:31</td>   <td>19164</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGRunner.driverQuit()[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">&lt;&lt;driverQuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@682376643</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:50:53</td>   <td>-18768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGRunner.launchApp()[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@682376643</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:51:12</td>   <td>224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGRunner.launchApp()[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>main@682376643</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:51:00</td>   <td>-12468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGRunner.testNavigationToLoginPage(java.lang.String, java.lang.String)[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">testNavigationToLoginPage</td> 
  <td>main@682376643</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>19/09/29 17:51:17</td>   <td>5114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGRunner.testNavigationToLoginPage(java.lang.String, java.lang.String)[pri:0, instance:testngautomationPackage.TestNGRunner@17d677df]">testNavigationToLoginPage</td> 
  <td>main@682376643</td>   <td></td> </tr>
</table>
