<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:20:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.launchApp()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:20:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.launchApp()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:20:56</td>   <td>6552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f2(java.lang.String, java.lang.String)[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">f2</td> 
  <td>TestNG-test=Test-2@1003182927</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:20:56</td>   <td>6555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.String, java.lang.String)[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">f</td> 
  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.driverClose()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.driverClose()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.launchApp()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f2(java.lang.String, java.lang.String)[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">f2</td> 
  <td>TestNG-test=Test-2@1003182927</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.driverClose()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.launchApp()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.String, java.lang.String)[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">f</td> 
  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.driverClose()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&lt;&lt;driverClose</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@2118629578</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>19/09/27 18:21:16</td>   <td>26781</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.driverQuit()[pri:0, instance:testngautomationPackage.NewTest@2a742aa2]">&lt;&lt;driverQuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
